
.portfolio {
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 72px;
line-height: 84px;
color: #212529;
}


@media (max-width: 575.98px) {
  .portfolio {
    font-size: 36px;
  }
}

.nav-link {
  margin-left: 5px;
}

.main {
  padding-left: 2rem;
  padding-right: 1.5rem;
}

@media (max-width: 575.98px) {
  .main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


.profil {
  margin-bottom: 25px;
}

.jumbo {
  height: 50px;
  margin: 50px 0;
  padding: 14px 0 0;
  background: #F5F5F5;
  color: #6C757D;
  font-size: 16px;
}
